div {

    /* HEX value*/
    background: #ffcc00;

    /* RGB value */
    color: rgb(220, 20, 60);

    /* valid color name */
    border: 10px solid green;

}





















/* demo styles */
* {
    box-sizing: border-box;
}

body{
    height:2000px;
}

body {
    font-family: helvetica;
    font-size: 28px;
    margin: 0;
}