div {

    /* RGB value */
    color: rgb(255, 0, 0);

    /* RGB value + alpha channel */
    color: rgba(255, 0, 0, 1);

    /* HEX triplet */
    color: #FF0000;

    /* Predefined/Cross-browser color names */
    color: peachpuff;

    color: red;

    /* OTHER PROPERTIES THAT USE COLORS */
    border: 10px solid red;

    background: rgb(0, 255, 0);
}






























/* demo styles */
* {
    box-sizing: border-box;
}

body {
    height: 2000px;
}

body {
    font-family: helvetica;
    font-size: 28px;
    margin: 0;
}